#header {
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
    text-align: center;
    color: white;
    font-family: Helvetica;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

div#header a {
    font-size: 18px;
    color: white;
}

.supporting {
    font-family: Helvetica;
    text-align: center;
}

div#process h2 {
    font-size: 32px;
    font-weight: bold;
}

.banner {
    font-family: Helvetica;
    text-align: center;
    color: white;
    font-size: 23px;
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

.footer {
    font-family: Helvetica;
    font-size: 11px;
    background-color: dimgray;
    color: white;
}

.btn-nav {
    color: white;
    font-size: 18px;
}